.table-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f4f4f4;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  .add-task-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .add-task-button:hover {
    background-color: #0056b3;
  }

  .delete-task-button {
    background-color: #d10b0b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s;
  }
  
  .delete-task-button:hover {
    background-color: #d10b0b;
  }

  .edit-task-button {
    background-color: #027a8f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s;
  }
  
  .edit-task-button:hover {
    background-color: #027a8f;
  }
  

  :host {
    display: block;
    background-color: #e0e0e0; /* Cinza claro */
    padding: 20px;
  }

  
  .spacer {
    margin-bottom: 20px; /* Espaço extra entre o botão e a tabela */
  }

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

